<header class="main-title">
  <h1>Photo Impact</h1>
  <p>Inmortalizing your best moments</p>
</header>

<ul class="topnav">
  <li><a class="active" href="../Page/index.html">Home</a></li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Our Services</a>
    <div class="dropdown-content">
      <a href="#">Quinceaños</a>
      <a href="#">Weddings</a>
      <a href="#">Private events</a>
      <a href="#">Parties</a>
    </div>
  </li>
  <li><a href="../Page/quote.html">Make a quote</a></li>
  <li><a href="../Page/about.html">About us</a></li>
  <li><a href="/Page/contactUs.html">Contact us</a></li>
  <li style="float: right;"><a href="../Page/signUp.html">Sign in</a></li>
  <li style="float: right;"><a href="../Page/login.html">Log in</a></li>
</ul>
